{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
        {% endfor %}
    </div></div>
{% endif %}

<div class="container">
	<div class="col-md-12">
		<div class="page-header margin-none">
			<h2 class="padding-none">Users</h2>
		</div>
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Username</th>
						<th>Name</th>
						<th>Email</th>
						<th>Entry Time</th>
						<th>Depart Time</th>
						<th>Difference(H:m)</th>
					</tr>
				</thead>
				<tbody>
					{% for register in registers %}
						{% set diffMin = (register.difference|date('H'))*60+register.difference|date('i') %}
						{% set entryInMin = (register.entry|date('H'))*60+register.entry|date('i') %}
						{% set departInMin = (register.depart|date('H'))*60+register.depart|date('i') %}
						{% if  diffMin> 7*60+20 or diffMin < 3*60-5 or (entryInMin > 12*60 and entryInMin < 14*60) %}
							{% set mark = 'danger' %}
						{% else %}
							{% set mark = '' %}	    
						{% endif %}
						<tr>
							<td class="{{ mark }}">{{ register.username }}</td>
							<td class="{{ mark }}">{{ register.name }}</td>
							<td class="{{ mark }}">{{ register.email }}</td>
							<td class="{{ mark }}">{{ register.entry|date('d-m-Y H:i') }}</td>
							<td class="{{ mark }}">{{ register.depart|date('d-m-Y H:i') }}</td>
							<td class="{{ mark }}">{{ register.difference }}</td>
							<td>
								<a href="#" class="btn btn-sm btn-info">View</a>
								{% if is_granted('ROLE_ADMIN') %}
								<a href="#" class="btn btn-sm btn-primary">Edit</a>
								<a href="#" class="btn btn-sm btn-danger btn-delete">Delete</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock %}